@model app.ViewModels.ContractorDashboardViewModel
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ConstructionLA Dashboard";
    var records = ViewData["Data"];
}
<link href="~/lib/pace/themes/blue/pace-theme-loading-bar.min.css" rel="stylesheet" />
<script src="~/lib/PreloadJS/preloadjs.min.js"></script>
<div id="progress"></div>
<div id="datavisualization" class="container-fluid">
    <div class="container-fluid w-75 py-2">
        <a>
            <h3 class="text-left">
                @ViewData["Contractor Name"]
            </h3>
        </a>
    </div>
    <div class="container-fluid w-75 py-2 h-auto" style="position:relative">
        <div class="row">
            <div class="col-sm col-md">
                <div class="card border-0 h-100 shadow-sm">
                    <div class="card-body" style="text-align:left;">
                       <div id="contractor-info"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md">
                <div class="card border-0 h-100 shadow-sm">
                    <div class="card-body" style="text-align:center;padding: 80px 0 80px 0px;">
                        <span id="stars"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md">
                <div class="card border-0 h-100 shadow-sm">
                    <div class="card-body" style="text-align:center;padding: 80px 0 80px 0px;">
                        <span id="review-count"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid w-75 py-2 h-auto" style="position:relative">
        <div class="row">
            <div class="col-sm col-md">
                <div class="card border-0 h-100 shadow-sm">
                    <div class="card-body">
                        <div id="mapid" style="height:100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card border-0 h-100 shadow-sm">
                    <div class="card-body">
                        <div id="datatable" style="height: 550px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid w-75 py-2 mx-auto" style="position:relative">
        <div class="row">
            <div class="col-sm col-md">
                <div class="card border-0 h-100 shadow-sm">
                    <div class="card-body">
                        <canvas id="line" height="75"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid w-75 py-2 mx-auto" style="position:relative">
        <div class="row">
            <div class="col-xs-12 col-sm col-md">
                <div class="card border-0 h-100 shadow-sm">
                    <div class="card-body">
                        <canvas id="horizontalbargraph"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm col-md">
                <div class="card border-0 h-100 shadow-sm">
                    <div class="card-body">
                        <canvas id="donutgraph"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm col-md">
                <div class="card border-0 h-100 shadow-sm">
                    <div class="card-body">
                        <canvas id="radarchart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Dashboard{
    <script src="https://unpkg.com/sortablejs@1.7.0/Sortable.min.js"></script>
    <script src="https://unpkg.com/clusterize.js@0.18.0/clusterize.min.js"></script>
    <script src="https://unpkg.com/frappe-datatable@0.0.5/dist/frappe-datatable.min.js"></script>
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/lib/Chart.js/Chart.bundle.min.js"></script>
    <script src="~/js/Preload/preloader-dashboard.js"></script>
    <script type="text/javascript">
        var temp_data = @Html.Raw(JsonConvert.SerializeObject(records));
        initPreload_Dashboard();
    </script>
}
