@model app.Models.Contractor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://unpkg.com/frappe-datatable@0.0.5/dist/frappe-datatable.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/autocomplete/auto-complete.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--CSS for Leaflet-->
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />

</head>
<body onload="initDataVisualization()">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Dashboard">Matrix</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a>
                    </li>
                </ul>
                <form class="form-inline w-25" asp-controller="Dashboard" asp-action="Dashboard">
                    <div class="row w-100">
                        <div class="form-group w-100">
                            <div class="input-group w-75">
                                <input class="form-control" id="autoComplete" type="text" placeholder="Search Business Name..." onkeyup="suggest()" autocomplete="off" asp-for="contractors_business_name">
                            </div>
                            <button class="btn btn-outline-success mx-sm-2" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - app
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/autocomplete/auto-complete.js"></script>
    <script src="~/js/initDataVisualization.js"></script>
    <script src="~/js/search_autocomplete.js"></script>
    @RenderSection("Dashboard", required: false)
</body>
</html>
