@model app.Models.Contractor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/pace/themes/blue/pace-theme-loading-bar.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/frappe-datatable@0.0.5/dist/frappe-datatable.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/autocomplete/auto-complete.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--CSS for Leaflet-->
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />

</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Dashboard">Matrix</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" asp-controller="Dashboard" asp-action="Dashboard">
                    <input class="form-control mr-sm-2" id="autoComplete" type="text" placeholder="Search Business Name..." onkeyup="suggest()" autocomplete="off" asp-for="contractors_business_name">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/pace/pace.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/autocomplete/auto-complete.js"></script>
    <script src="~/js/Autocomplete/search_autocomplete.js"></script>
    <script src="~/lib/PreloadJS/preloadjs.min.js"></script>
    @RenderSection("Dashboard", required: false)
</body>
</html>
