@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "LA Open Data";
}
<!--Analytics are placed here-->
    <div class="text-center">
        <a>
            This is About Page
        </a>
    </div>
@section About{
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/js/getLeaflet.js"></script>
    <script src="~/lib/Chart.js/Chart.bundle.min.js"></script>
    <script src="~/js/Chart1.js"></script>
    <script src="~/js/Chart2.js"></script>
    <script src="~/js/myChart.js"></script>
}