@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "LA Open Data";
}
<!--Analytics are placed here-->
    <div class="text-center">
        <a>
            This is About Page
        </a>
    </div>
