@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "LA Open Data";
}
    <!--Analytics are placed here-->
    <div class="container-fluid shadow p-3 mb-5 bg-white square">
        <div class="row justify-content-md-center" style="padding: 10px 50px 10px 50px">
            <div class="col text-center" style="min-height:50vh" id="mapid"></div>
            <div class="col text-center" style="min-height:50vh">
                <div class="container">
                    <h3>Number of Permits: 230</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Address</th>
                                <th scope="col">Permit #</th> 
                                <th scope="col">Permit Type</th>  
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-md-center" style="padding: 10px 50px 10px 50px">
            <div class="col text-center">
                <div class="container shadow p-3 mb-5 bg-white rounded">
                    <canvas id="chart1"></canvas>
                </div>
            </div>
            <div class="col text-center">
                 <div class="container shadow p-3 mb-5 bg-white rounded">
                    <canvas id="chart2"></canvas>
                </div>
            </div>
            <div class="col text-center">
                 <div class="container shadow p-3 mb-5 bg-white rounded">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>    
    </div>
@section OpenDataLA{
        <script src="~/lib/leaflet/leaflet.js"></script>
        <script src="~/js/getLeaflet.js"></script>
        <script src="~/lib/Chart.js/Chart.bundle.min.js"></script>
        <script src="~/js/Chart1.js"></script>
        <script src="~/js/Chart2.js"></script>
        <script src="~/js/myChart.js"></script>
}