@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "LA Open Data";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to LA Open Data</h1>
        <a>
            By <p>Dean Truong</p>
        </a>
    </div>
    <!--Analytics are placed here-->
    <div class="container-fluid shadow p-3 mb-5 bg-white rounded">
        <div class="row justify-content-md-center">
            <div class="col text-center" style="min-height:50vh" id="mapid">Layout 1</div>
            <div class="col text-center" style="min-height:50vh">Layout 2</div>
        </div>
            <div class="row justify-content-center">
                <div class="col col-lg-2 text-center">Selection One</div>
                <div class="col col-lg-2 text-center">Selction Two</div>
                <div class="col col-lg-2 text-center">Selection Three</div>
            </div>
        </div>
    </div>
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <p>Information about Analytics here</p>
    </div>
@section Leaflet{
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/js/leaftlet.js"></script>
}
