@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "LA Open Data";
}
    <!--Analytics are placed here-->
    <div class="container-fluid shadow p-3 mb-5 bg-white rounded">
        <div class="row justify-content-md-center" style="padding: 10px 50px 10px 50px">
            <div class="col text-center" style="min-height:50vh" id="mapid"></div>
            <div class="col text-center" style="min-height:50vh" id="myChart">Layout 1</div>
        </div>
            <div class="row justify-content-center">
                <div class="col col-lg-2 text-center">Selection One</div>
                <div class="col col-lg-2 text-center">Selction Two</div>
                <div class="col col-lg-2 text-center">Selection Three</div>
            </div>
        </div>
    </div>
    <div class="container">
        <p>This interactive visualization demonstrates the construction projects in Downtown Los Angeles from January 2013 to January 2020.</p>
    </div>
@section OpenDataLA{
        <script src="~/lib/leaflet/leaflet.js"></script>
        <script src="~/js/getLeaflet.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="~/js/myChart.js"></script>
}