@{
    ViewData["Title"] = "LA Open Data";
}

    <div class="text-center" style="background-image: url('~\images\repeated-square.png');background-repeat:repeat">
        <h1 class="display-4">Welcome to LA Open Data</h1>
        <a>
            By <p>Dean Truong</p>
        </a>
    </div>
    <!--Analytics are placed here-->
    <div class="container-fluid shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col text-center">Map</div>
            <div class="col text-center">More graphs</div>
        </div>
    </div>
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <p>Information about Analytics here</p>
    </div>

