@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Search Contractor";
}

<div class="input-group mb-3">
  <input class="form-control py-2 border-right-0 border" type="search" placeholder="Contractor's Business Name..." id="contractor_business_name" >
    <span class="input-group-append">
      <div class="input-group-text bg-transparent">
        <div id="search-icon-center">
          <i class="search icon"></i>
          </div>
      </div>
    </span>
</div>

@section Autocomplete{
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="~/js/search_autocomplete.js"></script>
  <script src="~/js/getContractorInfo.js"></script>
}