@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Search Contractor";
}

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Contractor's Business">
  <i class="search icon" style="margin-top:1%;margin-left:98%"></i>
</div>
